html {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', sans-serif;
  color: white;
  height: 100vh;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8E7820;
  height: 6.1em;
}

.header-title {
  font-size: 3em;
  color:  white;
  margin: 0.3em 0 0 ;
  text-decoration: none;
  border-bottom: none;
}

.home-link {
  text-decoration: none;
}

.fav-link {
  align-self: flex-end;
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  margin-right: 1em;
  text-decoration: none;
}

.fav-link:hover {
  color: #0F4741;
}

@media screen and (max-width: 500px) {
  .header-title {
    font-size: 1.5em;
  }

  .fav-link {
    font-size: .75em;
    align-self: center;
  }

  nav {
    height: 4em;
  }
}

